<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WeCommerce</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
</head>
<body>
    <div>
        <!--validation stuff-->
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                {% for message in messages %}
                    {% if message != "Your password or email doesn't match." %}
                        <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!--end validation stuff-->
        <h2 class="text-center mb-4">Register</h2>
        <form action="/register" method="post">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">
            <label for="email">Email:</label>
            <input type="email" name="email">
            <label for="password">Password:</label>
            <input type="text" name="password">
            <label for="confirm_password">Confirm Password:</label>
            <input type="text" name="confirm_password">
            <input type="submit" value="Register">
        </form>
    </div>
    <div>
        <!--validation stuff-->
        {% with messages = get_flashed_messages() %}
            {% if messages %} 
                {% for message in messages %}
                    {%if message == "Your password or email doesn't match."%}
                    <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
        <!--end validation stuff-->
        <h2>Login</h2>
        <form action="/login" method="post">
            <label for="lemail">Email:</label>
            <input type="email" name="lemail">
            <label for="lpassword">Password:</label>
            <input type="text" name="lpassword">
            <input type="submit" value="Login">
        </form>
    </div>
    
</body>
</html>