<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Message User</title>
</head>
<body class="bg-image img-responsive" style="background-image: url(../static/images/white_backround.jpg);" >

        <div class="d-flex">

            <h2 class="mb-5 p-2 flex-grow-1">WeCommerce</h2>

            <a class="p-2 fs-5" href=""><button class = "btn btn-primary">Dashboard</button></a>

        </div>

        <div class="d-flex justify-content-center">
            {%if messages%}
            {%for message in messages%}

            <h5 class="mx-5">{{message["content"]}}</h5>

            {%endfor%}
            {%endif%}
        </div>

        <!--NOT SURE IF REFRESH HAS TO BE IN FORM BUT I TOOK IT OUT FOR NOW-->

        <div class="d-flex justify-content-center mr-5">

            <a href="/WeCommerce/messages/{{correspondent}}"><button class="mr-5">Refresh</button></a>
        
        </div>

        <div class = "container bg-primary">

            
            <!--ADD JINJA HERE FOR ALL THE MESSAGES-->


        </div>

        <!--ADD A ROUTE FOR REFRESH-->

        <form action="/message" method="post">

            <div class="d-flex justify-content-center m-5">

                <textarea name="" id="" cols="100" rows="1"></textarea>
                
                <button> Message</button>

            </div>

        </form>

    </div>

</body>

</html>