<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Listing</title>
</head>
<body>

    <h2>WeCommerce</h2>

    <h3>Update Your Listing</h3>

    <form action="/" method="post">

        <label for="name">Name</label>

        <input type="text" name="name" id="name">

        <label for="price">Price</label>

        <input type="number" name="price" id="price">

        <label for="description">Description</label>

        <textarea name="description" id="description_texteria" cols="30" rows="10">Description</textarea>

        <button>Submit</button>

    </form>

    
</body>
</html>