<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Listings</title>
</head>
<body class="bg-image img-responsive" style="background-image: url(../static/images/white_backround.jpg);" >
    <h2>WeCommerce</h2>
    <table>
        <tr>
            
            <th>Item name</th>

            <th>Item Description</th>

            <th>Item Price</th>

            <th><a href="#">Edit</a></th>

        </tr>

        <tr>

            <td>placeholder</td>
            
            <td>placeholder</td>

            <td>placeholder</td>

            <td><a href="#">Edit</a></td>

        </tr>

    </table>

    <a href="#">Create Listing</a>
    
</body>
</html>