<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>WeCommerce</title>
</head>
<body class="bg-image img-responsive" style="background-image: url(../static/images/white_backround.jpg);" >
    
    <div class="d-flex">

        <h2 class="mb-5 p-2 flex-grow-1">WeCommerce</h2>

        <a class="p-2 fs-5" href=""><button class = "btn btn-primary">Dashboard</button></a>

    </div>

    <div class="d-flex flex-row mb-3 mx-5 ">

        <h4 class="p-2">Item Name {{listing['name']}}</h4>

        <h4 class="p-2">Item Price ${{listing['price']}}</h4>

    </div>

    

    <h5 class="mx-5">Posted By <a href="/WeCommerce/messages/{{seller[0]['id']}}">{{seller[0]['first_name']}}</a></h5>


    <div class="d-flex justify-content-center">

        <h4 class="me-5">Description</h4>

    </div>
    
    <div class="d-flex justify-content-center">

        <h4 class = "me-5">{{listing['description']}}</h4>

    </div>

    
    
</body>
</html>